body {

    background-image: url(ricardo-gomez-angel-WfeKQT3Wf0A-unsplash.jpg);
    background-position: center bottom;
    background-size: cover;
    background-color: #003049;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


#navbar {
    background-color: #669bbc2c;
    color: #fff;

}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #ffbc42;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#Showcase {
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

#Showcase h1 {
    font-size: 70px;
    text-shadow: 2px 4px 0 #ffffff3f;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 45%;
    padding: 0 30px;
    box-sizing: border-box;
}
#main h1{
    color: #ffbc42;
}
#side-bar {
    float: right;
    width: 35%;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;


}
#side-bar h2{
    color: #ffbc42;
}

#main-footer {
    background: #4279a11c;
    color: #ffbc42;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }

    #side-bar {
        width: 100%;
        float: none;
    }

    .container img {
        width: 500px;
    }
}

@media(max-width:566px) {
    .container img {
        width: 450px;
    }
}

@media(max-width:360px) {
    .container img {
        width: 350px;
    }

    @media(max-width:376px) {
        .container img {
            width: 300px;
        }
    }

    